html {
  position: relative;
}

body {
  margin-bottom: 100px;
  margin-top: 30px;
  font-family: 'Titillium Web', sans-serif;
  color: #222;
  background: #fff;
}

body.dark-theme {
  color: #eee;
  background: #121212;
}

.jumbotron {
  height: 400px;
  background-image: url('../img/header-bg3.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: -250px -200px;
  overflow: hidden;
  color: #fff;
  text-shadow: 3px 3px 3px #333;
  position: relative;
}

.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
}

.jumbotron .content-jumbotron {
  position: relative;
  z-index: 1;
  top: -20px;
}

.jumbotron .content-jumbotron img {
  width: 200px;
  border: 2px solid #fff;
  box-shadow: 1px 3px 3px #333;
}

hr {
  border-top: 3px solid #999;
  width: 250px;
}

section {
  min-height: 600px;
}

section.about {
  min-height: 300px;
}

.pKiri,
.pKanan {
  opacity: 0;
  transform: translate(-50px, 0);
  transition: 1s;
  width: 80%;
}

.pKanan {
  transform: translate(50px, 0);
}

.pKiri.pMuncul,
.pKanan.pMuncul {
  opacity: 1;
  transform: translate(0, 0);
  width: 100%;
}

section.contact,
section.tech {
  min-height: 300px;
}

.bg-gray {
  background-color: #eee;
}

.portfolio .group {
  opacity: 0;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -moz-transform: translate(0, -40px);
  -webkit-transform: translate(0, -40px);
  transform: translate(0, -40px);
}

.portfolio .group.muncul {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
}

.portfolio .group .thumbnail {
  overflow: hidden;
}

.portfolio .group .thumbnail img {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.portfolio .group .thumbnail img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  background-color: #333;
  color: #fff;
}

footer p {
  margin-top: 40px;
}

footer p i {
  color: salmon;
}

.navbar a {
  color: white !important;
}

.navbar a.jacky-hau {
  font-family: 'Pacifico', cursive;
  color: #bfbfbf !important;
  font-style: italic;
  letter-spacing: 2px;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.internal-container {
  display: flex;
  align-items: center;
}

.headline {
  font-weight: 600;
}

.img-profile {
  position: relative;
  z-index: 2;
}

.logo,
.logo-contact {
  width: 50%;
  filter: grayscale(1);
  cursor: pointer;
  margin: auto;
}

.logo-contact {
  width: 5%;
  margin: 0 20px 0;
}

.logo:hover,
.logo-contact:hover {
  filter: grayscale(0);
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.typing {
  font-weight: 600;
}

.switch {
  width: 50px;
  height: 28px;
  margin-bottom: 0;
  border-radius: 10px;
  background: #ccc;
  cursor: pointer;
}

.switch .rounded {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  transform: translateX(3px) translateY(4px);
  transition: 0.3s;
}

.switch .rounded.checked {
  transform: translateX(25px) translateY(4px);
}

.switch.active {
  background: #6bacff;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .jumbotron {
    background-position: -60px -30px;
  }

  .internal-container {
    display: block;
    align-items: center;
  }

  section.contact,
  section.tech {
    min-height: 200px;
  }

  .tech-container {
    gap: 10px;
  }

  .jumbotron .content-jumbotron {
    top: 0;
  }

  .logo-bottom {
    margin-bottom: 20px;
  }
}
